#home .home_link,
#about .about_link,
#contact .contact_link {
  color:red;
}

.errors {display:block; color:red;}
.products {width:200px; border:medium; padding:15px; float:left;}
.product img {width:170p; height:100px; background:#ccc;}
.clear {clear:both;}

label, textarea, input {display:block;}

